APP_PORT=8080
MONGO_URI=mongodb://admin:admin@localhost:27017
MONGO_DATABASE=embedded_lab
MONGO_USER_COLLECTION=users
MONGO_TRANSACTION_COLLECTION=transactions
MQTT_BROKER_URL=tcp://localhost:1883
MQTT_TOPIC=esp32/temperature
MQTT_INA219_TOPIC=esp32/ina219
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=embedded-lab-token
INFLUXDB_ORG=embedded-lab
INFLUXDB_BUCKET=telemetry
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/
